.puzzle-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #374151;
    width: 90%;
    height: 80%;
    margin: 10px 25px 25px 25px;
    border-radius: 10px;
}

.puzzle-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #e5e7eb;
}

/* .puzzle-content {
    flex: 1;
    padding: 25px 30px;
    
    width: 100%;
  } */
