.puzzle-content {
	justify-content: start;
	align-items: center;
	position: relative;
}
.puzzle-content > img {
	width: auto;
	height: 100%;
}
.img-cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #21262d;
	pointer-events: none;
	width: auto;
	height: auto;

	mask-image: radial-gradient(
		circle 15px at -100px -100px,
		transparent 0%,
		black 100%
	);
	-webkit-mask-image: radial-gradient(
		circle 15px at -100px -100px,
		transparent 0%,
		black 100%
	);
	transition: mask-image 0.1s ease, -webkit-mask-image 0.1s ease;
}
